<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA89bct1OmjNkVdgGMnt71Ep9xLzMSQMds</string>
	<key>GCM_SENDER_ID</key>
	<string>193157282771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.customenvrn.staging</string>
	<key>PROJECT_ID</key>
	<string>customenvrn-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>customenvrn-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193157282771:ios:115d66694ea3650b6a4d26</string>
</dict>
</plist>